.main img {

    margin-top: 20vh;
    float: left;
    margin-left: 10%;
    text-align: center;

    width: 30vw;
    height: 60vh;
}

  .main h1 {
    font-size: 6vw;

    margin-top: 40vh;
    float: right;
    margin-right: 10%;
    text-align: center;
}

/*

.main img {

    position: fixed;
    top: 30%;
    left: 10%;
    margin-top: -20px;
    margin-left: -20px;
}

  .main h1 {
    height: 200px;
    width: 600px;
    text-align: center;
    font-size: 70px;

    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -20px;
    margin-left: -20px;
}

*/