
.game {
    margin-top: 100px;
    float: right;
    margin-right: 5%;
    text-align: center;
}

.game iframe{
    width: 40vw;
}


.text {
	margin-top: 50px;
	float: left;
}

.text h1 {
    width: 40vw;
    text-align: center;
    font-size: 3vw;
    margin-left: 5vw;
}

.text p {
    width: 40vw;
    text-align: center;
    font-size: 2vw;
    margin-left: 5vw;
}
/*
.game {
    height: 800px;
    width: 800px;
    text-align: center;

    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.text h1 {
    height: 200px;
    width: 500px;
    text-align: center;
    font-size: 50px;

    position: fixed;
    top: 15%;
    left: 10%;
    margin-top: -20px;
    margin-left: -20px;
}

.text p {
    height: 200px;
    width: 500px;
    text-align: center;
    font-size: 20px;

    position: fixed;
    top: 30%;
    left: 10%;
    margin-top: -20px;
    margin-left: -20px;
}'/