
.header {
    overflow: hidden;
    padding: 20px 10px;
  }

  .header-left {
    position: fixed;
    margin-top: -10px;

  }
  
  .header-center a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    /*display: inline-block;*/
  }

  .header a.active {
    background-color: rgb(226, 142, 14);
    color: white;
  }
  
  .header-center {
    text-align: center;
  }

   body {
    background-image: url("../cool-background.png");
  }